name: Build APK

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Grant execute permission for build script
      run: chmod +x build_apk.sh

    - name: Build with Gradle
      run: ./build_apk.sh

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: StarChord-debug
        path: StarChord/build/outputs/apk/debug/StarChord-debug.apk
